{% extends "base.html" %}

{% block title %}
Contact
{% endblock title %}
  
{% block body %}


<div class="container-md d-md-flex pt-5 px-5">
    <img class="icon" src="//theme.zdassets.com/theme_assets/1073405/40a45e20ea26b1fea2bdea222bd1d01e2f4ad9a0.svg" alt="person logo" width="300" height="300">
    <div class="container-md px-5">
        <h2>Contact us</h2>
    <pre>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste 
quaerat autem corrupti asperiores accusantium et fuga! 
Facere excepturi, quo eos, nobis doloremque dolor labore 
expedita illum iusto, aut repellat fuga!
    </pre>
    <ul>
        <li>
            <h5>Address</h5>
<a  type="Address">34 Street Name, City Name Here,
United States</a>
        </li>
        <br>
        <li>
            <h5>Contact Number</h5>
             <a  type="number">+51 979701</a>
        </li>
        <br>
        <li>
            <h5>Email</h5>
             <a type="email">shop.help@gmail.com</a>
        </li>
    </ul>
        
</div>
{% endblock body %}